.cart-container {
  max-width: 55%; /* Slightly reduce width to match the image */
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white; /* Darker background as shown in the image */
  color: black;
  border-radius: 4px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: #999999;
}
 
.cart-header div:nth-of-type(2) {
  display: flex;
  gap: 6rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  background-color: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEEEEE;
  justify-content: space-between;
}

.cart-item div {
  display: flex;
  align-items: center;
}

.cart-item div:nth-of-type(2) {
  display: flex;
  gap: 6rem;
}

.cart-item div:nth-of-type(2) input {
  width: 20px;
  height: 30px;
  text-align: center;
  color: black;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.cart-item div:nth-of-type(2) input::-webkit-outer-spin-button,
.cart-item div:nth-of-type(2) input::-webkit-inner-spin-button {
-webkit-appearance: none;
  margin: 0;
}

.cart-item img {
  max-width: 80px; /* Reduz largura máxima da imagem */
  margin-right: 20px;
}

.cart-item h2 {
  font-size: 1.1rem; /* Reduz tamanho da fonte */
  margin-bottom: 10px;
}

.cart-item .price {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right; /* Alinha o preço para a direita */
}

.cart-item .quantity {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity input {
  width: 40px;
  text-align: center;
  margin: 0 10px;
  background-color: #1d1d1d;
  color: green;
  border: none;
  border-radius: 5px;
}

.cart-total {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20px;
}

.checkout-button {
  background-color: #F8375D;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase; /* Deixa o texto em maiúsculas */
  font-weight: bold;
}

.checkout-button:hover {
  background-color: #d72b49; /* Cor mais escura no hover */
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.cart-summary .total-price {
  font-size: 2rem;
  font-weight: bold;
}

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 0;
}

.cart-footer div:nth-of-type(2) {
  display: flex;
  align-items: center;
}

.cart-footer div:nth-of-type(2) h2 {
  color: #999999;
  font-size: 1.2rem;
}

.cart-footer div:nth-of-type(2) p {
  font-weight: bold;
  font-size: 1.5rem;
}